<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name = "Dictionary" connectionString ="DataSource=.\Dictionary.db;Version=3;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs" />
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuButton" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuCheckBox" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuDataGridView" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuFormDock" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
        <dependentAssembly>
          <assemblyIdentity name="Bunifu.UI.WinForms.BunifuImageButton" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Bunifu.UI.WinForms.BunifuPages" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuPictureBox" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuRadioButton" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuTextbox" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuUserControl" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuShadowPanel" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu.UI.WinForms.BunifuLabel" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Bunifu_UI_v1.5.3" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.5.3.0" newVersion="1.5.3.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="System.Data.SQLite" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
          </dependentAssembly>
        </dependentAssembly>
      </dependentAssembly>
      <probing privatePath="Libs" xmlns="" />
    </assemblyBinding>
  </runtime>
</configuration>